@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --black-color: #121212;
  --red-color: #e90202;
  --family-font: "Montserrat", sans-serif;
  --title-font: "Alumni Sans Collegiate One", sans-serif;
}

#navbar {
  position: fixed;
  width: 100%;
  font-family: var(--family-font);
}
#navbar .navbar__container {
  justify-content: flex-end;
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}
#navbar .navbar__container .navbar__menu {
  gap: 3rem;
}
#navbar .navbar__container .navbar__menu .menu-item {
  position: relative;
  padding: 0px 4px 8px 4px;
}
#navbar .navbar__container .navbar__menu .menu-item a {
  color: var(--black-color);
  font-size: 1.2rem;
  font-weight: 400;
}
#navbar .navbar__container .navbar__menu .menu-item::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
}
#navbar .navbar__container .navbar__menu .menu-item:hover a {
  color: var(--red-color);
}
#navbar .navbar__container .navbar__menu .menu-item:hover::after {
  background: var(--black-color);
}

#home {
  height: 100vh;
}
#home .container {
  width: 100%;
  height: 100%;
  display: flex;
}
#home .container .title {
  width: 50%;
  background: var(--red-color);
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 12rem;
  font-size: 2.5rem;
  line-height: 10rem;
  font-family: "DM Serif Display", serif;
}
@media only screen and (max-width: 920px) {
  #home .container .title {
    width: 100%;
    padding-left: 2rem;
    font-size: 2rem;
    line-height: 7rem;
  }
}
#home .container .calculator {
  width: 50%;
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 920px) {
  #home .container .calculator {
    width: 100%;
    margin-bottom: 36px;
  }
}
@media only screen and (max-width: 920px) {
  #home .container {
    flex-direction: column-reverse;
  }
}

#calculator {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  border: 2px solid var(--black-color);
  border-radius: 12px;
  box-shadow: 6px 6px 0px 1px rgb(0, 0, 0);
  overflow: hidden;
}
#calculator .calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-rows: minmax(7rem, auto);
}
#calculator .display {
  max-width: 290px;
  padding: 1rem 0.5rem;
  font-size: 2rem;
  text-align: right;
  margin: 12px 6px;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}
#calculator .display .previous-operand {
  color: rgba(0, 0, 0, 0.342);
  font-size: 1.2rem;
}
#calculator .buttons {
  padding: 36px 6px 18px 6px;
  background: rgb(252, 176, 176);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
#calculator .buttons button {
  font-family: "Poppins", sans-serif;
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  margin: 6px;
  background: #fff;
  border: 2px solid var(--black-color);
  border-radius: 18px;
  font-weight: 200;
  box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: rgb(252, 176, 176);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .wrapper {
  width: 40%;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 1px 1px 56px 12px rgba(0, 0, 0, 0.1215686275);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#contact .wrapper h1 {
  font-weight: 600;
}
#contact .wrapper h1 span {
  color: var(--red-color);
}
#contact .wrapper input,
#contact .wrapper textarea {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  font-family: "Poppins", sans-serif;
}
#contact .wrapper button {
  margin-top: 12px;
  width: 160px;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
  background: var(--red-color);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
@media only screen and (max-width: 920px) {
  #contact .wrapper {
    width: 80%;
  }
}/*# sourceMappingURL=index.css.map */